## Class exercises:

Make a function that:

1. Create a data frame with this:

In [2]:
import pandas

In [3]:
# create some lists:
people=["Tom치s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [4]:
# create a dictionary:
dictionary={'names':people, 'woman':woman, 'ages':ages, 'country':country, 'education':education}
dictionary
#create a data frame:
frame=pandas.DataFrame.from_dict(dictionary)
frame

     names  woman  ages  country education
0    Tom치s  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

2. Create a list of tuples, where each tuple is a pair (name,country), using comprehensions

In [5]:
comprehension=[(n,c) for (n,c) in zip(frame.names,frame.country)]

# A ZIP IS NOT A COMPREHENSION :(
list(zip(people,country))

[('Tom치s', 'Chile'),
 ('Pauline', 'Senegal'),
 ('Pablo', 'Spain'),
 ('Bjork', 'Norway'),
 ('Alan', 'Peru'),
 ('Juana', 'Peru')]

3. Implement a _for_ loop to count how many peruvian there are in the data frame.

In [6]:
peruanos=0
print(peruanos)

for country in frame.country:
    if country == 'Peru':
        peruanos+=1
print(peruanos)

0
2

4. Implement a _for_ loop to get the count of men. Try using **not** in one solution and **~** in another one.

In [7]:
men=0
for woman in frame.woman:
    if woman != True:
        men+=1

men1=0
for woman in frame.woman:
    if not woman:
        men1+=1
        
men2=0

for man in ~frame.woman:
    if man:
        men2+=1


print(men)
print(men1)
print(men2)

4
4
4

Solve this in a new Jupyter notebook, and then upload it to GitHub. Name the notebook as 'ex_controlOfEx'.

## Homework

1. Implement a _for_ loop to get the count of men that have a Bach degree in the data frame. I recommend the use of **zip** (somwehere)

2. Implement a _for_ loop to get the count of people whose current age is an even number.

Solve this in a new Jupyter notebook, and then upload it to GitHub. Name the notebook as 'hw_controlOfEx'.

In [25]:
men=0
comp=[(w,e) for (w,e) in zip(frame.woman,frame.education)]
for w,e in comp:
    if w != True and e=='Bach':
        men+=1
        
print(men)

2

In [46]:
evens=0
for ages in frame.ages:
    if ages%2==0:
        evens+=1
        
print(evens)

4