In [3]:
import pandas

## Class exercises:

In a new Jupyter notebook solve each excercise, and then upload them to GitHub. Name the notebook as 'ex_data_structures':

A. Turn this into a Data Frame name "friends":

In [38]:
names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

data={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}
data

friends=pandas.DataFrame.from_dict(data)
# seeing it:
friends

     names  woman  ages  country education
0    Tomás  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

B. Answer the following:

In [15]:
# Who is the oldest person in this group of friends?
friends[friends.ages==max(friends.ages)].names

1    Pauline
Name: names, dtype: object

In [55]:
# How many people are 32?
len(friends[friends.ages==32].names)

2

In [56]:
# How many are not Peruvian? (use two different codes)
len(friends[friends.country!='Peru'].names)

4

In [57]:
BestPlace=["Peru"]
len(students[~students.country.isin(BestPlace)])

4

In [36]:
# Who is the person with the highest level of education?
friends[friends.education=='PhD'].names

3    Bjork
Name: names, dtype: object

In [ ]:
# what is the sex of the oldest person in the group?

In [53]:
friends[friends.ages==max(friends.ages)].woman

1    True
Name: woman, dtype: bool

### Homework

If you have the query:

In [ ]:
# where is the youngest male in the group from?

a. Find the answer using *sort_values()*

b. Do some research and find the answer using *[where()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.where.html)* and *[min()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.min.html)*

c. Do some research and find the answer using *[query()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.query.html)* and *[min()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.min.html)*

Solve this in a new Jupyter notebook, and then upload it to GitHub. Name the notebook as 'hw_data_structures'.