##### Homework 599A Week 2

If you have the query:

In [ ]:
# where is the youngest male in the group from?

a. Find the answer using *sort_values()*

b. Do some research and find the answer using *[where()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.where.html)* and *[min()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.min.html)*

c. Do some research and find the answer using *[query()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.query.html)* and *[min()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.min.html)*

Solve this in a new Jupyter notebook, and then upload it to GitHub. Name the notebook as 'hw_data_structures'.

In [2]:
import pandas

In [80]:
names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

data={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}
data

friends=pandas.DataFrame.from_dict(data)
# seeing it:
friends

     names  woman  ages  country education
0    Tomás  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

a) Find answer using sort_values()

In [82]:
friends[friends.woman==False].sort_values('ages',ascending=False).tail(1).country

2    Spain
Name: country, dtype: object

b. Do some research and find the answer using where() and min()

In [84]:
#TESTING
friends.where(friends.woman==False).country

0     Chile
1       NaN
2     Spain
3    Norway
4      Peru
5       NaN
Name: country, dtype: object

In [102]:
#TESTING
min(friends.ages)

27

In [116]:
#ANSWER
men=friends.where(friends.woman==False)
men[men.ages==min(men.ages)].country

2    Spain
Name: country, dtype: object

c. Do some research and find the answer using query() and min()

In [156]:
#ANSWER
menq = friends.query('woman==False')
menq[menq.ages==min(menq.ages)].country

2    Spain
Name: country, dtype: object